DB_USER= //usuário do banco de dados
DB_PASSWORD= //senha do banco de dados
DB_DATABASE= //nome do banco de dados
DB_HOST=  //caminho do banco de dados
DB_PORT=. //porta de comunicaçao do banco de dados

PORT=3001



PORT= // a porta do NodeJS

//npm i -g sequelize
//npm i -g sequelize-cli
//npm i --save sequelize
//npm i --save sequelize-cli

//sequelize init

# cria uma pasta
# abre no terminal
# git init
# git clone https://github.com/EricoBorgonove/UNIESBAM-ADS-3P-BACK-MAT-AD.git
# entra na pasta
# npm i 